.container {
    position: relative;
    font-family: Arial;
  }

  a:link, a:visited, a:active {
    text-decoration: underline;
    color: white;
    }
  a:hover {
    text-decoration: underline overline;
    color:rgb(156, 220, 8);
    }
  
  .text-block {
    position: absolute;
    bottom: 300px;
    left: 20px;
    background-color: rgb(16, 68, 180);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  img{
    width:100%; 
    height: 500px;
  }